services:
  bin-available-fileserver-1:
    image: 'ghcr.io/manodor-s/bin-available-fileserver:latest'
    container_name: node-1
    restart: unless-stopped
    depends_on:
      - bin-available-fileserver-lgtm
    networks:
      - bin-available-fileserver-net
    ports:
      - '8081:8080'
    environment:
      - QUARKUS_APPLICATION_NAME=node-1
      - QUARKUS_OTEL_EXPORTER_OTLP_ENDPOINT=http://bin-available-fileserver-lgtm:4317
      - NODE_ID=node-1
      - NODE_REPLICAS=node-2,node-3

  bin-available-fileserver-2:
    image: 'ghcr.io/manodor-s/bin-available-fileserver:latest'
    container_name: node-2
    restart: unless-stopped
    depends_on:
      - bin-available-fileserver-lgtm
    networks:
      - bin-available-fileserver-net
    ports:
      - '8082:8080'
    environment:
      - QUARKUS_APPLICATION_NAME=node-2
      - QUARKUS_OTEL_EXPORTER_OTLP_ENDPOINT=http://bin-available-fileserver-lgtm:4317
      - NODE_ID=node-2
      - NODE_REPLICAS=node-1,node-3

  bin-available-fileserver-3:
    image: 'ghcr.io/manodor-s/bin-available-fileserver:latest'
    container_name: node-3
    restart: unless-stopped
    depends_on:
      - bin-available-fileserver-lgtm
    networks:
      - bin-available-fileserver-net
    ports:
      - '8083:8080'
    environment:
      - QUARKUS_APPLICATION_NAME=node-3
      - QUARKUS_OTEL_EXPORTER_OTLP_ENDPOINT=http://bin-available-fileserver-lgtm:4317
      - NODE_ID=node-3
      - NODE_REPLICAS=node-1,node-2

  bin-available-fileserver-lgtm:
    image: 'grafana/otel-lgtm:latest'
    container_name: bin-available-fileserver-lgtm
    restart: unless-stopped
    networks:
      - bin-available-fileserver-net
    ports:
      - '3000:3000'
      - '4317:4317'
      - '4318:4318'
    volumes:
      - 'bin-available-fileserver-lgtm-grafana:/data/grafana'
      - 'bin-available-fileserver-lgtm-prometheus:/data/prometheus'
      - 'bin-available-fileserver-lgtm-loki:/data/loki'
    environment:
      - GF_PATHS_DATA=/data/grafana

volumes:
  bin-available-fileserver-lgtm-grafana: null
  bin-available-fileserver-lgtm-prometheus: null
  bin-available-fileserver-lgtm-loki: null

networks:
  bin-available-fileserver-net:
    name: bin-available-fileserver-net
    external: false
